{% extends 'songs/base.html' %}
{%block content%}
<table class="table" id="tabelaOrdenada">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Número Pasta</th>
        <th scope="col">Nome</th>
        <th scope="col">Banda</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for louvor in louvores %}
        <tr>
          <th scope="row">{{louvor.numero_da_pasta}}</th>
          <td>{{louvor.nome}}</td>
          <td><a href="{% url 'banda_musicas' louvor.banda.all.0.id %}"> {{louvor.banda.all.0}} </a></td>
          <td><a href="{{louvor.link_cifra}}" target="_blank">cifra</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock content%}