{% extends 'songs/base.html' %}
{%block content%}
  <a class="btn btn-primary"  id="novo" href="{% url 'louvor_cadastro' %}">Novo Louvor</a>

<table class="table" id="tabelaOrdenada">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nº Pasta</th>
        <th scope="col">Nome</th>
        <th scope="col">Banda</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      {% for louvor in louvores %}
        <tr>
          <td>{{louvor.numero_da_pasta}}</td>
          <td>
          <!-- se tem slide, pinta de uma cor, se não tem, pinta de outra -->
          <a href="{% url 'louvor' louvor.id %} " {%if louvor.tem_slide is False %} class="text-secondary" {% endif %}>
            {{louvor.nome}}
          </a>
        </td>
          <td><a href="{% url 'banda_musicas' louvor.banda.id %}"> {{louvor.banda.nome}} </a></td>
          <td><a href="{{ louvor.link_cifra }}" target="_blank">cifra</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock content%}